# Python
__pycache__/
*.py[cod]
*$py.class
.Python
.venv/
venv/
env/
ENV/
.env
.env.*
.mypy_cache/
.pytest_cache/
.ruff_cache/
.pyre/
.hypothesis/
.tox/
.nox/
htmlcov/
.coverage
.coverage.*
dist/
build/
site/
*.egg-info/
.eggs/
pip-wheel-metadata/

# macOS
.DS_Store
.AppleDouble
.LSOverride
._*
.Spotlight-V100
.Trashes
